<app-country-pie [countries]=countryCount [pieStyle]=countryPieStyle></app-country-pie>


<div>
  <h3>Data per country</h3>
  <p *ngFor="let countryItem of countryCount | async" >
    <strong>Country: {{countryItem.name}}</strong>
    <span>  Count: {{countryItem.count}}</span>
  </p>
</div>
<br><br>
<div>
  <h3>Bandwidth</h3>
  <p>
    <strong>Total Bandwidth: </strong> {{ (bandWidthTotal | async)/1000000 | number }} Megabytes
  </p>
</div>

<br><br>

<div>
  <h3>Most Requested Files</h3>
  <p *ngFor="let item of mostRequestedPaths | async" >
    <span>Count: {{item.count}} </span>
    <strong>Path: {{item.path}}</strong>
  </p>
</div>

<!-- <app-component-dashboard></app-component-dashboard> -->
