<app-country-pie [countries]=countryCount [pieStyle]=countryPieStyle></app-country-pie>


<div>
  <h3>All requests per country</h3>
  <p *ngFor="let countryItem of countryCount | async" >
    <strong>Country: {{countryItem.name}}</strong>
    <span>  Count: {{countryItem.count}}</span>
  </p>
</div>
<br><br>
<div>
  <h3>Bandwidth</h3>
  <p>
    <strong>Total Bandwidth: </strong> {{ (bandWidthTotal | async)/1000000 | number }} Megabytes
  </p>
</div>

<br><br>

<div>
  <h3>Most Requested Files</h3>
  <h4>Total number of requested files: {{ totalRequestCount | async }}</h4>
  <p *ngFor="let item of mostRequestedPaths | async" >
    <strong>Count: </strong> {{item.count}}
    <strong>Path: </strong> {{item.path}}
  </p>
</div>

<!-- <app-component-dashboard></app-component-dashboard> -->
