.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .country-pie-wrapper {
    margin-top: 1em;
    width: 40em;
    max-width: 100vw;
    height: fit-content;
  }
}
